## Polkadot mainnet fork
# POLKADOT_ENDPOINT=wss://rpc.ibp.network/polkadot
POLKADOT_BLOCK_NUMBER=27409884
# POLKADOT_WASM=

## Frequency mainnet fork (para 2091)
# FREQUENCY_ENDPOINT=wss://0.rpc.frequency.xyz
FREQUENCY_BLOCK_NUMBER=9117938
# Override until this runtime is on mainnet
FREQUENCY_WASM=./wasm/frequency_runtime-mainet.wasm

# RUN_TESTS_WITHOUT_DB=true
